*-lock.json
node_modules/
.idea/
.git/
build/
cache/
managed_cache/
stack_cache/
uploads/
upload/

.settings.php
dbconn.php
#application/.htaccess

*.zip
*.rar
*.sql
robots.txt
*.log
backup/

phpMyAdmin/
test/
home/
assets/
*.tar.gz