*-lock.json
node_modules/
.idea/
.git/
build/
cache/
managed_cache/
stack_cache/
upload*/

.settings.php
dbconn.php
#application/.htaccess

robots.txt
.htaccess
.idea
*.sql
*.log
*.rar
*.zip
*.tar
*.tar.gz
Thumbs.db
sitemap*.xml
*.txt
test*/
yandex_*.html
*.7z
backup/